<agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
    <agm-marker [latitude]="latitude" [longitude]="longitude">

    <agm-marker [latitude]="latitude1" [longitude]="longitude1"></agm-marker>

    <agm-marker [latitude]="latitude2" [longitude]="longitude2"></agm-marker>

<agm-marker [latitude]="latitude3" [longitude]="longitude3"></agm-marker>

<agm-marker [latitude]="latitude4" [longitude]="longitude4"></agm-marker>

<agm-marker [latitude]="latitude5" [longitude]="longitude5"></agm-marker>

<agm-marker [latitude]="latitude6" [longitude]="longitude6"></agm-marker>

<agm-marker [latitude]="latitude7" [longitude]="longitude7"></agm-marker>




</agm-marker>
  
  </agm-map>


 <!-- <div id="map">
   
</div> --> 